body{
    background-color: #eee;
}
.nav .active {
    background-color: #111 !important;
}

.nav .active .sb-nav-link-icon {
    color: #0d6efd !important;
}

.sb-nav-link-icon {
    font-size: 1.2rem !important;
}

#btn_toggle {
    display: flex;
}

.btn_toggle {
    padding: 10px;
    border: none;
    transition: flex .5s ease-out;
    color: #fff;
    background-color: #fd0d0d;
    text-wrap: nowrap;
    opacity: .5;
}

#rec_toggle {
    color: #fff;
}

.focus {
    flex: 1;
    opacity: 1 !important;
    background-color: #222;
}

.capitalize {
    text-transform: capitalize;
}

.disabled {
    pointer-events: none;
    opacity: .8;
}

.job_active {
    color: rgb(4, 180, 4);
    font-weight: bold;
}

.job_inactive {
    color: red;
}

/* JOBS */

#jobs {
    display: flex;


}

#jobs #left {
    flex: 1;

}

#jobs #right_head{ 
    height: 250px; 
}

#right #jd_section{ 
    height: calc(100vh - 300px);
    overflow-y: scroll; 
}

#jobs #right { 
    flex: 3; 
    /* height: 100%;
    overflow-y: hidden; */
    padding: 10px 20px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
 

.job_apply_head { 
    display: flex;
    align-items: center;
}

.job_apply_head .title {
    margin-bottom: 0px !important;
    color: #0a66c2;
    font-size: 1.1rem;
}

.job_apply_head {
    color: #777;
    font-size: .8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.job_apply_head div {
    margin-bottom: 3px;

}

.job_apply_head .icon {
    padding-left: 10px;
    margin-right: 15px;
}

.icon svg {
    font-size: 26px;
    background-color: #eee;
    color: #333;
    padding: 10px;
    height: 40px;
}

#jd_section div {
    margin-bottom: 20px;
    font-size: .8rem; 
}


main {  
    overflow:hidden;
    background-color: #eee;
}

.card-header {
    background: #333;
    color: #eee;
    margin-bottom: 10px;
}

.page_header {
    background: #333;
    color: #eee;
    padding: 10px;
}

.job_section {
    margin: auto;
    max-width: 100px;
    max-width: 1000px;
    margin: 10px;
    margin: auto;
    padding-left: 10px;
}

.employer{
    display: flex;
    
}


.employer .company{
    display: flex;
    align-items: center; 
    padding-left: 5px; 
    font-weight: 700;
}


.banner{
    background: #333;
    color: #eee;
    display: flex; 
    justify-content: space-between;
    padding: 10px;
}


.dt-length label , .dt-search label {
    display: none !important; 
}


table thead{
    background: #0747a5;
    color: #eee;
    border-bottom: 2px solid red;
}

.vertical_centering td{
    vertical-align: middle;
}

/* #nav_filter{
    margin: auto !important; 
}
#nav_filter>form>div{ 
    display: inline !important;
}

#nav_filter input{
    outline: none;
    border-radius: 10px;
    padding: 5px;
} */
 
#landing img{
    height: 100%;
}

#landing h1{
    color: #0d6efd;
}

#landing .left{
    display: flex;
    flex-direction: column;
}

#recent_listings a{
    text-decoration: unset;
    color: unset;
}
 
.job{
    border-radius: 10px;
    margin-bottom: 10px; 
    background-color: #fff; 
}

.job:hover{
    opacity: .7;
}

.job .apply>div{
    border-radius: 10px 0px 0px 10px;
    color: #fff;
    background-color: #0d6efd;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    flex-direction: column;
}

.job .deadline{
    color: #aaa;
    font-size: .8em;
}

.job .department{
    display: flex;
    align-items: center; 
}

.job .department>b{
    background: #666;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
}
 

#recent_listings{
    background-color: #eee;
}

.sign_up{
    font-size: 24px;  
}

.back_btn{
    margin-left: auto;
    padding: 10px;
}

.back_btn button{ 
    border: unset; 
    font-size: 22px;
}

@media (max-width: 575px) {
    
    .job .department>b{
        border-radius: unset;
        text-align: center;
        width: 100%;
    }

    .job .apply>div{
        border-radius: 0px;
        text-align: center;
    }

    #toggle_preview{
        display: none;
    }
}

input[type=file] { 
    display: none; 
}

#resume_logo label[for="inputGroupFile01"]{
    cursor: pointer;
    width: 100%;
    border: 1px solid white;
    border-radius: 10px !important;
    height: 58px;
} 

.preview_label{
    background: #eee;
    display: flex;
    height: 100%;
    background-image: url(/static/images/drag_drop.png); 
    background-repeat: no-repeat;
    background-position: 50%;
    transition: ease-in .2s;
}

.preview_label:hover{
    background-color: #ddd;
    transition: ease-in .2s;
} 

#file_preview{
    height: 100%;
}