.nav .active {
    background-color: #111 !important;
}

.nav .active .sb-nav-link-icon {
    color: #0d6efd !important;
}

.sb-nav-link-icon {
    font-size: 1.2rem !important;
}

#btn_toggle {
    display: flex;
}

.btn_toggle {
    padding: 10px;
    border: none;
    transition: flex .5s ease-out;
    color: #fff;
    background-color: #fd0d0d;
    text-wrap: nowrap;
    opacity: .5;
}

#rec_toggle {
    color: #fff;
}

.focus {
    flex: 1;
    opacity: 1 !important;
    background-color: #222;
}

.capitalize {
    text-transform: capitalize;
}

.disabled {
    pointer-events: none;
    opacity: .8;
}

.job_active {
    color: rgb(4, 180, 4);
    font-weight: bold;
}

.job_inactive {
    color: red;
}

/* JOBS */

#jobs {
    display: flex;


}

#jobs #left {
    flex: 1;

}

#jobs #right {
    flex: 3;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    padding: 10px 20px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.job_apply_head {
    border-bottom: 1px solid #ddd;
    display: flex;
}

.job_apply_head .title {
    margin-bottom: 0px !important;
    color: #0a66c2;
    font-size: 1.1rem;
}

.job_apply_head {
    color: #777;
    font-size: .8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.job_apply_head div {
    margin-bottom: 3px;

}

.job_apply_head .icon {
    margin-right: 15px;
}

.icon svg {
    font-size: 26px;
    background-color: #eee;
    color: #333;
    padding: 10px;
}

.jd_section div {
    margin-bottom: 20px;
    font-size: .8rem; 
}


main {
    height: calc(100vh - 80px);
    overflow-y: scroll;
}

.card-header {
    background: #333;
    color: #eee;
    margin-bottom: 10px;
}

.page_header {
    background: #333;
    color: #eee;
    padding: 10px;
}

.job_section {
    margin: auto;
    max-width: 100px;
    max-width: 1000px;
    margin: 10px;
}

.employer{
    display: flex;
    
}


.employer .company{
    display: flex;
    align-items: center; 
    padding-left: 5px; 
    font-weight: 700;
}
 