.nav .active {
    background-color: #111 !important;
}

.nav .active .sb-nav-link-icon {
    color: #0d6efd !important;
}

.sb-nav-link-icon {
    font-size: 1.2rem !important;
}

#btn_toggle {
    display: flex;
}

.btn_toggle {
    padding: 10px;
    border: none;
    transition: flex .5s ease-out;
    color: #fff;
    background-color: #fd0d0d;
    text-wrap: nowrap;
    opacity: .5;
}

#rec_toggle {
    color: #fff;
}

.focus {
    flex: 1;
    opacity: 1 !important;
    background-color: #222;
}

.capitalize {
    text-transform: capitalize;
}

.disabled {
    pointer-events: none;
    opacity: .8;
}

.job_active {
    color: rgb(4, 180, 4);
    font-weight: bold;
}

.job_inactive {
    color: red;
}

/* JOBS */

#jobs {
    display: flex;


}

#jobs #left { 
    flex: 1;
    
}

#jobs #right { 
    flex: 3;
}

.job_apply_head{
    border-bottom: 1px solid #ddd;
    display: flex;
}

.job_apply_head .title{
    margin-bottom: 0px !important; 
    color: #0a66c2;
    font-size: 1.1rem;
} 
.job_apply_head{
    color: #777;
    font-size: .8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.job_apply_head div{
    margin-bottom: 3px;
    
} 

.job_apply_head .icon{ 
    margin-right: 15px;
}

.icon svg{
    font-size: 26px;
    background-color: #eee;
    color: #333; 
    padding: 10px;
}

.jd_section div{
    margin-bottom: 20px;
    font-size: .8rem;
    border-bottom: 1px solid #ccc;
}

