{% extends "../base.html"%}
{%load static%}

{% block body_block %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4 banner">Applications</h1>
            <div class="card mb-4">
                <div class="card-body">
                    <table id="listings" class="table table-striped capitalize vertical_centering" style="width:100%">
                        <thead class="thead-dark">
                            <tr>
                                <th>APPLICANT</th>
                                <th>JOB_ID</th>
                                <th>POSITION</th>
                                <th>LOCATION</th>
                                <th>SALARY</th>
                                <th>APPLIED ON</th>
                                <th>VIEW</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

<div class="modal fade" id="resume_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe src="" width="100%" height="100%" frameborder="0"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
            </div>
        </div>
    </div>
</div>

<script>
    new DataTable('#listings', {
        "ajax": {
            "url": '/recruiter/applications_ajax',
            "type": "POST",
            "headers": { "X-CSRFToken": "{{ csrf_token }}" }
        },
        processing: true,
        serverSide: true,
        columns: [
            {
                data: 'user__first_name',
                render: function (data, type, row) {
                    return `<div>
                            <b>${row.user__first_name} ${row.user__last_name}</b> 
                            </br> 
                            ${row.user__headline__name} </br> 
                            <em>${row.user__location__name ? row.user__location__name : "Anywhere"}</em>
                            <br>
                            <button class="btn btn-warning" onclick="showResumeModal('${row.user__resume_logo}','${row.user__first_name} ${row.user__last_name}')"> View Resume</button>
                            </div>
                        `;
                }
            },
            { data: 'job_id' },
            { data: 'job__title__name' },
            { data: 'job__location__name' },
            {
                data: 'salary_min',
                render: function (data, type, row) {

                    let salary = "";
                    if (row.salary_min && row.salary_max)
                        salary = formatter.format(row.salary_min) + " - " + formatter.format(row.salary_max)

                    else if (row.salary_min && !row.salary_max)
                        salary = formatter.format(row.salary_min) + "+ "

                    else if (!row.salary_min && row.salary_max)
                        salary = formatter.format(row.salary_min)

                    return salary
                }
            },
            { data: 'created_on__date' },
            {
                data: 'job_id',
                className: 'dt-body-right',
                render: function (data, type, row) {
                    return `<a href="/jobs/job/${data}/${row.job__title__name}" target="_blank">JOB</a>`;
                }
            }

        ],
        order: [[5, 'desc']],
        columnDefs: [
            { orderable: false, targets: [2, 3, 4, 6] }
        ],
    });

    function showResumeModal(resume_name, applicant) {
    const modal = $("#resume_modal");
    modal.find("h5").text(applicant + " Resume");
    modal.find("iframe").attr("src","{{S3_ACCESS_POINT}}" + resume_name);
    modal.modal('show');
}
</script>


{% endblock %}