{% extends "../base.html"%}
{%load static%}

{% block body_block %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Jobs
                <a class="float-end btn btn-primary p-3" href="/recruiter/new_job">+ New Job</a>
            </h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Your Listings</li>
            </ol>
            <div class="card mb-4">
                <div class="card-body">
                    <table id="listings" class="table table-striped" style="width:100%">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Experience</th>
                                <th>View/Edit</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

<script>
    new DataTable('#listings', {
        "ajax": {
            "url": '/recruiter/listings_ajax',
            "type": "POST",
            "headers": { "X-CSRFToken": "{{ csrf_token }}" }
        },
        processing: true,
        serverSide: true,
        columns: [
            { data: 'id' },
            { data: 'experience_level' },
            {
                data: 'id',
                render: function (data, type, row) {
                    return `<a href="/recruiter/view_job/${data}"><i class="fa-solid fa-file-lines"></i></a> <a href="/recruiter/edit_job/${data}"><i class="fa-solid fa-pen-to-square"></i></a>`;
                }
            }
        ],
        columnDefs: [ 
        { orderable: false, targets: [1,2] }
    ]
    });
</script>


{% endblock %}