{% extends "../base.html"%}
{%load static%}

{% block body_block %}

<div id="layoutSidenav_content">
    <main>

        <div class="job_section bg-white">
            <div id="right">
                <div id="right_head">
                    <div class="employer">
                        <div class="icon"><i class="fa-brands fa-slack"></i></div>
                        <div class="company">{{jd.job_head.created_by.company}} </div>
                        <div class="back_btn" onclick="back()"> <button><i class="fas fa-arrow-alt-circle-left"></i></button></div>
                    </div>

                    <div>
                        <h3 class="title capitalize">{{jd.job_head.title.name}} </h3>
                        <div class="type">Level {{jd.job_head.experience_level}}</div>
                        <div class="location "><em>{{jd.job_head.location.name|title}}</em> </div>
                        <div class="location "><em> Salary: {{jd.job_head.salary_min}} - {{jd.job_head.salary_max}}</em> </div>
                    </div>
                    <br>

                    {% if request.user.is_authenticated %}

                    {% if not saved %}
                    <button class="btn btn-primary" onclick="apply_save('save')"> Save </button>
                    {% else %} 
                    <button class="text-primary btn border-primary"> <i class="fas fa-star"></i> 
                        Saved 
                    </button>
                    {% endif %}

                    {% if jd.job_head.external_link %}  
                            <button href="{{jd.job_head.external_link}}" class="btn btn-success" onclick="apply_save('apply')" >
                                Apply Externally <small class="text-warning">clicked {{external_clicks}} times</small>
                                <small><i class="fa-solid fa-arrow-up-right-from-square"></i></small>
                            </button> 
                    {% else %}

                        {% if not applied %}
                            <button class="btn btn-success" onclick="apply_save('apply')">Apply</button> 
                        {% else %}
                            <button class="text-success btn border-success"> <i class="fas fa-check-circle"></i> Applied </button>
                        {% endif %}
                    {% endif %}
                    
                    {% endif %}


                    <!--  -->

                </div>
                <div id="jd_section">
                    <h6>Summary</h6>
                    <div>{{jd.summary|linebreaks}}</div>
                    <h6>Duties</h6>
                    <div>{{jd.duties|linebreaks }}</div>
                    <h6>Qualifications</h6>
                    <div>{{jd.qualifications|linebreaks }}</div>
                    <h6>Compensation</h6>
                    <div>{{jd.compensation|linebreaks }}</div>
                </div>
            </div>
        </div>

    </main>
</div>


<script>


    const apply_save = type => {
        const isExternalLink = "{% if jd.job_head.external_link %}1{% else %}0{% endif %}";
        fetch("/user/" + type + "_ajax/{{jd.job_head.id}}/"+isExternalLink,
            {
                method: 'GET'
            }).then(res => {

                if (!res.ok)
                    return res.text().then(text => { throw new Error(text) })
                else
                    return res.json();

            }).then(data => {
                
                if (isExternalLink){
                    window.open("{{jd.job_head.external_link}}",'_blank');
                }
                location.reload()
            })
    }
 

    const back = () => {
        let referrer = document.referrer;
        const myWebsite = window.location.hostname;

        if (referrer) {
            referrer = new URL(referrer).hostname;

            if (referrer === myWebsite)
                window.history.back();
            return
        }
        window.location.href = '/jobs';
    }

</script>


{% endblock %}