{% extends "../base.html"%}
{%load static%}

{% block body_block %}

<div id="layoutSidenav_content">
    <main>

        <div class="bg-dark">
            <div style="max-width: 800px; margin:auto;">
                <form action="/jobs">
                    <input type="hidden" name="page" value="1">
                    <div class="row">
                        <div class="col-sm-4">
                            <br>
                            <div>
                                <input type="text" name="job_title" class="form-control p-2" placeholder="Job Title or Keywords" value="{{request.GET.job_title}}">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <br>
                            <div id="location">
                                <input type="hidden" name="location" value="{{request.GET.location}}">
                                <input type="text" value="{{request.GET.location_name}}" placeholder="State or Country" class="form-control capitalize p-2" onfocus="focusDrop(this)" onblur="setTimeout(() => {blurDrop('location')}, 500);" onkeyup="debouncedOnInput(this, 'search_location_ajax')">
                                <div class="dropdown">
                                    <ul class="dropdown-menu dropdown-menu-dark w-100"> </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <br>
                            <button class="btn btn-success">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <br>
        </div>
        <br>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if request.GET.page == "1" %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="/jobs?page={{request.GET.page|add:'-1'}}&job_title={{request.GET.job_title}}&location={{request.GET.location}}" tabindex="-1">Previous</a>
                </li>
                {% endif %}

                {% for page in pages %}
                <li class="page-item {% if page|stringformat:'s' == request.GET.page %} active {% endif %}">
                    <a class="page-link" href="/jobs?page={{page}}&job_title={{request.GET.job_title}}&location={{request.GET.location}}">{{page}}

                    </a>
                </li>
                {% endfor %}
                {% if last_page %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Next</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="/jobs?page={{request.GET.page|add:'1'}}&job_title={{request.GET.job_title}}&location={{request.GET.location}}" tabindex="-1">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav> 
        <div class="container-fluid" id="recent_listings">


            {% for x in jobs %}
            <a href="/jobs/job/{{x.id}}/{{x.title.name}}">
                <div class="job">
                    <div class="row">
                        <div class="col sm-5 job_apply_head capitalize">
                            <div class="icon"><i class="fa-brands fa-slack"></i></div>
                            <div>
                                <h6 class="title">{{x.title.name}} </h6>
                                <div class="company">{{x.created_by.company}} </div>
                                <div class="location "><em>{{x.location.name}}</em> </div>
                            </div>
                        </div>
                        <div class="col-sm-5 capitalize department">
                            <b>{{x.department.name}}</b>
                        </div>
                        <div class="col-sm-2 apply">
                            <div>
                                <div>
                                    <b>Apply</b> <br>
                                    <div class="deadline">{{x.active_to|date:"dS M" }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
         
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if request.GET.page == "1" %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="/jobs?page={{request.GET.page|add:'-1'}}&job_title={{request.GET.job_title}}&location={{request.GET.location}}" tabindex="-1">Previous</a>
                </li>
                {% endif %}

                {% for page in pages %}
                <li class="page-item {% if page|stringformat:'s' == request.GET.page %} active {% endif %}">
                    <a class="page-link" href="/jobs?page={{page}}&job_title={{request.GET.job_title}}&location={{request.GET.location}}">{{page}}

                    </a>
                </li>
                {% endfor %}
                {% if last_page %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Next</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="/jobs?page={{request.GET.page|add:'1'}}&job_title={{request.GET.job_title}}&location={{request.GET.location}}" tabindex="-1">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </main>
</div>

<script>

</script>


{% endblock %}