{% extends "../base.html"%}
{%load static%}

{% block body_block %}

<div id="layoutSidenav_content">
    <main>
        <div class="job_section bg-white">
            <div id="jobs">
                <div id="left">
                    {% for x in jobs %}

                    <div class="job_apply_head capitalize">
                        <div class="icon"><i class="fa-brands fa-slack"></i></div>
                        <div>
                            <h6 class="title">{{x.title.name}} </h6>
                            <div class="company">{{x.created_by.company}} </div>
                            <div class="type">Level {{x.experience_level}}</div>
                            <div class="location "><em>{{x.location.name}}</em> </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
                <div id="right">
                    <div class="employer">
                        <div class="icon"><i class="fa-brands fa-slack"></i></div> 
                        <div class="company">{{jd.job_head.created_by.company}} </div>
                    </div>
                    
                    <div>
                        <h3 class="title capitalize">{{jd.job_head.title.name}} </h3>
                        <div class="type">Level {{jd.job_head.experience_level}}</div>
                        <div class="location "><em>{{jd.job_head.location.name}}</em> </div>
                        <div class="location "><em> Salary: {{jd.job_head.salary_min}} - {{jd.job_head.salary_max}}</em> </div>
                    </div>
                    <br>
                    <div class="jd_section">
                        <h6>Summary</h6>
                        <div>{{jd.summary|linebreaks}}</div>
                        <h6>Duties</h6>
                        <div>{{jd.duties|linebreaks }}</div>
                        <h6>Qualifications</h6>
                        <div>{{jd.qualifications|linebreaks }}</div>
                        <h6>Compensation</h6>
                        <div>{{jd.compensation|linebreaks }}</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>


{% endblock %}