{% extends "../base.html"%}
{%load static%}

{% block body_block %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">   
            <div id="jobs">
                <div id="left">
                    <div>Results</div> 

                    {% for x in jobs %}

                    <div class="job_apply_head capitalize"> 
                        <h6 class="title">{{x.title.name}} </h6>
                        <div class="company">{{x.created_by.company}} </div>
                        <div class="type">Level {{x.experience_level}}</div>
                        <div class="location "><em>{{x.location.name}}</em> </div>
                    </div>
                    
                    {% endfor %}
                    
                </div>
                <div id="right">content</div>
            </div>
        </div>
    </main> 
</div>


{% endblock %}