{% extends "../base.html"%}
{%load static%}

{% block body_block %}

<div id="layoutSidenav_content">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-body">
                                    <form id="registerForm" novalidate method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="role" value="user">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" type="text" name="headline" placeholder=""
                                                required />
                                            <label for="headline">Headline</label>
                                            <div class="invalid-feedback">
                                                Required
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" type="text" placeholder="" required
                                                        name="first_name" />
                                                    <label for="inputFirstName">First name</label>
                                                    <div class="invalid-feedback">
                                                        Required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input class="form-control" type="text" placeholder="" required
                                                        name="last_name" />
                                                    <label for="inputLastName">Last name</label>
                                                    <div class="invalid-feedback">
                                                        Required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" name="email" type="email" placeholder=""
                                                required />
                                            <label for="inputEmail">Email addresss</label>
                                            <div class="invalid-feedback">
                                                Invalid
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" name="password" type="password" placeholder=""
                                                required />
                                            <label for="inputPassword">Password</label>

                                            <input type="checkbox" name="" id=""> <small class="text-secondary"> Show
                                                Password</small>
                                            <div class="invalid-feedback">
                                                Required
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <button class="btn btn-primary w-100" id="submit_btn" type="submit">Create
                                                Account</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="/user_login/">Have an account? Go to login</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<script>

    // on submit of registration form
    document.getElementById('registerForm').addEventListener('submit', function (event) {
        event.preventDefault();
 
        // form validation
        if (this.checkValidity()) {

            const submit_btn = document.getElementById("submit_btn"); 
            submit_btn.innerText = "Registering ...";
            submit_btn.disabled = true;

            // ajax reqeust to submit form
            const response = fetch("/register_ajax",
                {
                    body: new FormData(this),
                    method: 'POST'
                }).then(res => {

                    submit_btn.innerText = "Create Account";
                    submit_btn.disabled = true;

                    if (res.ok) {
                        window.location.href = "/login";
                    } else {
                        // TODO, DISPLAY SERVERSIDE ERRRORS
                    }
                });
        }

        this.classList.add('was-validated')
    }, false)
</script>


{% endblock %}