{% extends "../base.html"%}
{%load static%}

{% block body_block %}

<div id="layoutSidenav_content">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-body">
                                    <form id="registerForm" novalidate method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="role" value="user">
                                        <div class="form-floating mb-3" id="headline">
                                            <input class="form-control" type="text" name="headline" placeholder=""
                                                required />
                                            <label for="headline">Headline</label>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0" id="first_name">
                                                    <input class="form-control" type="text" placeholder="" required
                                                        name="first_name" />
                                                    <label for="inputFirstName">First name</label>
                                                    <div class="invalid-feedback"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating" id="last_name">
                                                    <input class="form-control" type="text" placeholder="" required
                                                        name="last_name" />
                                                    <label for="inputLastName">Last name</label>
                                                    <div class="invalid-feedback" id="last_name_error"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-floating mb-3" id="email">
                                            <input name="email" type="email" placeholder="" class="form-control"
                                                required>
                                            <label for="email">Email Address</label>
                                            <div class="invalid-feedback"></div>
                                        </div>


                                        <div class="form-floating mb-3" id="password">
                                            <input class="form-control" id="passwordInput" name="password" type="password" placeholder="" required />
                                            <label for="inputPassword">Password</label>
                                            <div class="invalid-feedback" id="password_error"></div>

                                            <div>
                                                <input type="checkbox" id="show" onchange="passwordToggle('passwordInput')"> <label for="show" class="text-secondary"> Show Password</label>
                                            </div>

                                           
                                        </div>
                                        <div class="col-sm-12">
                                            <button class="btn btn-primary w-100" id="submit_btn" type="submit">CreateAccount</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="/login">Have an account? Go to login</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<script>

    let errors = {
        headline: "Required",
        first_name: "Required",
        last_name: "Required",
        email: "Invalid Email",
        password: "Required"
    }

    // on submit of registration form
    document.getElementById('registerForm').addEventListener('submit', async function (event) {
        event.preventDefault();

        setErrors(errors, false);

        // check validation
        if (this.checkValidity()) {

            pending("submit_btn", "Registering ... ", true)

            // ajax reqeust to submit form
            fetch("/register_ajax",
                {
                    body: new FormData(this),
                    method: 'POST'
                }).then(res => {

                    pending("submit_btn", "Create Account", false)

                    if (!res.ok)
                        return res.text().then(text => { throw new Error(text) })
                    else
                        return res.json(); 

                }).then(data => {
                    window.location.href = data.redirect;

                }).catch(err => { 
                    const serverErrors = JSON.parse(err.message);                    
                    setErrors(serverErrors , true);

                });
        }

        this.classList.add('was-validated')
    }, false)
</script>


{% endblock %}