{% extends "../base.html"%}
{%load static%}

{% block body_block %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4 banner">Saved</h1>
            <div class="card mb-4">
                <div class="card-body">
                    <table id="listings" class="table table-striped capitalize" style="width:100%">
                        <thead class="thead-dark">
                            <tr>
                                <th>JOB_ID</th>
                                <th>POSITION</th>
                                <th>LOCATION</th>
                                <th>SALARY</th>
                                <th>SAVED ON</th>
                                <th>VIEW</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

<script>
    new DataTable('#listings', {
        "ajax": {
            "url": '/user/saved_ajax',
            "type": "POST",
            "headers": { "X-CSRFToken": "{{ csrf_token }}" }
        },
        processing: true,
        serverSide: true,
        columns: [
            { data: 'job_id' },
            { data: 'job__title__name' },
            { data: 'job__location__name' },
            {
                data: 'salary_min',
                render: function (data, type, row) {

                    let salary = "";
                    if (row.salary_min && row.salary_max)
                        salary = formatter.format(row.salary_min) + " - " + formatter.format(row.salary_max)

                    else if (row.salary_min && !row.salary_max)
                        salary = formatter.format(row.salary_min) + "+ "

                    else if (!row.salary_min && row.salary_max)
                        salary = formatter.format(row.salary_min)

                    return salary
                }
            },
            { data: 'created_on__date' },
            {
                data: 'job_id',
                className: 'dt-body-right',
                render: function (data, type, row) { 
                    return `<a href="/jobs/listing/${data}" target="_blank">view</a>`;
                }
            }
        ],  
        order: [[4, 'desc']],
        columnDefs: [
            { orderable: false, targets: [1,2,3,5] }
        ]

        
    });
</script>


{% endblock %}